.btn-hack {
  background-color: #88a0ff !important;
  color: #fff !important;
  border-color: #005e9d !important;
}
.btn-hack:focus,
.btn-hack:hover {
  background-color: #fff;
  color: #005e9d;
  border-color: #31347b;
}
.btn-outline-hack {
  background-color: #fff;
  color: #005e9d;
  border-color: #31347b;
}
.bg-hacktone {
  background-color: #2d5bb260;
  border: 0;
}
.login a {
  color: #000;
}
